{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <div class="tell1story-container">
        <h1 class="tell1story-header">微博</h1>
        {% if current_user.is_authenticated %}
            <form action="{{ url_for('weibo.add') }}" method="post">
                <div class="tell1story-weibo-input-div input-group">
                    <input type="text" name="weibo" class="form-control" placeholder="输入微博">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">发布</button>
                    </span>
                </div>
            </form>
        {% endif %}
        <div class="tell1story-weibo-container">
            {% for w in weibo_list %}
                <div class="tell1story-weibo-cell">
                    <div class="tell1story-weibo-header">
                        <span>{{ w.get_localtime() }}</span>
                        {% if current_user.is_authenticated %}
                            <a href="{{ url_for('weibo.delete', id=w.id) }}">删除</a>
                        {% endif %}
                    </div>
                    <div class="tell1story-weibo-content">
                        <span>{{ w.content }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
