<div class="modal fade" id="upload-picture-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button id="button-close-modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">上传图片</h4>
            </div>
            <form id="form-upload" enctype="multipart/form-data">
                <div class="modal-body">
                    <input id="file-upload-picture" type="file" name="file_upload_picture">
                </div>
                <div class="modal-footer">
                    <button id="button-upload-picture" type="button" class="btn btn-primary">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div> 